<table class="table table-success table-striped">
    <thead>
        <th>Id</th>
        <th>Nome </th>
        <th>Preço <i class="bi bi-currency-dollar"></i></th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let moeda of moedasExibirNoHtml">
            <td>{{moeda.id}}</td>
            <td>{{moeda.nome}}</td>
            <td>{{moeda.precoCompraVenda}}</td>
            <td><a href="javascript: return false;" (click)="detalhar(moeda.id)"><i class="bi bi-pencil-square"></i></a></td>
        </tr>
    </tbody>
</table>